.part1{
    background-image: url('../../../assets/offers/part1.jpg')
}
.part2{
    background-image: url('../../../assets/offers/part2.jpg')
}
.part3{
    background-image: url('../../../assets/offers/part3.jpg')
}